<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
 <script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
<title>{{ site.name }} - {{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css" media="all">@import "/styles/base.css";</style>
<link rel="stylesheet" type="text/css" href="/styles/ukiahlawyer.css" />
</head><body>
<div id="frame" style="border: 0px solid #000;">
<table style="border: 0px solid #000;" width="100%" id="header">
  <tr>
    <td align="center">
      <a href="/"><img src="/images/header.jpg" alt="David E. Shell - Attorney at Law - Ukiah" width="703" height="179" /></a> </td>
  </tr>
</table>
 <table id="content">
  <tr>
   <td id="sidebar-left"><div class="block block-block" id="block-block-1">
 <h2 class="title"></h2>
 <div class="content"><div class="menu-item"><a href="/">Home</a></div>
<div class="menu-item"><a href="/legal_research">Legal Research</a></div>
<div class="menu-item"><a href="/referrals">Referrals</a></div>
<div class="menu-item"><a href="/attorney">About the Attorney</a></div>
     </div>
</div>
</td>
   <td id="main">

<!-- begin content -->
<div class="node">
 <h2 class="title">{{ page.heading }}</h2>
 <div class="content">
 {{ content }}
 </div>
</div>

<!-- end content -->
   </td>
  </tr>
 </table>
 <div id="footer">
 
<div itemscope itemtype="http://schema.org/Attorney">
<span itemprop="name">David E. Shell - Attorney at Law</span>
<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
<span itemprop="streetAddress">206 S. Oak Street</span>
<span itemprop="addressLocality">Ukiah</span>,
<span itemprop="addressRegion">CA</span>
<span itemprop="postalCode">95482</span>
</div>
Phone: <span itemprop="telephone">707-462-1896</span>
Fax: <span itemprop="telephone">707-463-1119</span>
</div>
 
 <p>Copyright &copy 2017 David E. Shell - Attorney at Law</p>
</div>
<br clear="all" /><!-- without this little <br /> NS6 and IE5PC do not stretch the frame div down to encopass the content DIVs -->
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32798139-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">if(!NREUMQ.f){NREUMQ.f=function(){NREUMQ.push(["load",new Date().getTime()]);var e=document.createElement("script");e.type="text/javascript";e.src=(("http:"===document.location.protocol)?"http:":"https:")+"//"+"d1ros97qkrwjf5.cloudfront.net/42/eum/rum.js";document.body.appendChild(e);if(NREUMQ.a)NREUMQ.a();};NREUMQ.a=window.onload;window.onload=NREUMQ.f;};NREUMQ.push(["nrfj","beacon-3.newrelic.com","638fb4d202","1202161","NFQEZEQFWBcHUkxRXg0eM0JfS18KAlRAFkELQQ==",0,62,new Date().getTime(),"","","","",""]);</script>
</body>
</html>
